img {
      width: 55%;
      display: block;
      margin: 0 auto;
}

span {
      color: rgb(165, 42, 42);
}

.main-head {
      margin: 4em;
      background-color: rgb(118, 188, 165);
      width: fit-content;
      border-radius: .3em;
}

.head-content {
      padding: .001em 1em;
}